body {
    margin: 0px;
    background-color: rgb(187, 184, 184);
}

h1 {
    text-align: center;
    color:aqua;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 500px;
    margin: 0 auto;
}

.container {
    display: flex;
    flex-wrap: wrap;
    border: 2px solid black;

}

.grid {
    height: 20px;
    flex: 1;
    border: 1px solid black;
    background: green;
}